body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#form-content {
  margin: auto;
  max-width: 500px;
  padding: 0em 1em;
}

#main-container {
  background-color: #DEDEDE;
  /* https://www.pexels.com/photo/machu-pichu-peru-2356045/ */
  background-image: url('./pexels-errin-casano-2356045.jpg');
  background-size: cover;
  background-position: 0;
  border-radius: 1em;
  padding: 10em 0em;
  margin: 2em auto;
}

#results-content {
  overflow: hidden;
}

#results-content-row {
  overflow-x: scroll;
  display:flex;
  flex-wrap: nowrap;
}

.img-fluid {
  width: 500px;
}

.row {
  justify-content: space-between;
  padding: 0.5em 0em;
}

.card {
  margin: 1em;
  width: fit-content;
  overflow-wrap: break-word;
  display: inline-block !important;
  padding: 0px !important;
}

.card-text {
  color: gray;
}